.search {
  composes: items-center from "css/common.css";
  width: 60%;
}
.search-container {
  composes: items-center from "css/common.css";
  justify-content: center;
  width: 80%;
  height: 30px;
  border: 1px solid #909399;
  border-radius: 20px;
}
.search-area {
  width: 80%;
  border: none;
  outline: none;
}