.search {
  composes: items-center from "css/common.css";
  width: 200px;
}
.search-container {
  composes: items-center from "css/common.css";
  justify-content: center;
  width: 160px;
  height: 30px;
  border: 1px solid #909399;
  border-radius: 20px;
}
.search-area {
  width: 110px;
  border: none;
  outline: none;
}