.state {
  composes: middle from "css/common.css";
  padding: 5px 10px;
  color: #8FD26E; 
  background-color: #EFF7E6;
  border: 1px solid #8FD26E;
  border-radius: 20px;
}
.company {
  composes: manner from "css/common.css";
  composes: font-color-1 from "css/common.css";
  margin-bottom: 10px;
}
.write {
  composes: middle from "css/common.css";
  padding: 5px 20px;
  color: #fff;
  background-color: #A0CFFF;
  border-radius: 20px;
}