.account {
  padding: 5px 10px;
  color: #8FD26E; 
  background-color: #EFF7E6;
  border: 1px solid #8FD26E;
  border-radius: 20px;
}
.group {
  composes: manner from "css/common.css";
  display: flex;
}
.amount {
  padding: 5px 10px 5px 0;
  margin-right: 20px;
  border-right: 1px solid #F3F3F3;
}
.plan {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
}
.plan-code {
  letter-spacing: 24px;
}
.code {
  composes: ellipsis from "css/common.css";
  max-width: 140px;
}
.op {
  display: flex;
  align-items: flex-start;
  margin-top: 5px;
}
.op-name {
  composes: ellipsis from "css/common.css";
  max-width: 60px;
}
.company {
  composes: manner from "css/common.css";
  composes: font-color-1 from "css/common.css";
  margin-bottom: 10px;
}
.write {
  composes: middle from "css/common.css";
  padding: 5px 20px;
  color: #fff;
  background-color: #A0CFFF;
  border-radius: 20px;
}