.title {
  composes: ellipsis from "css/common.css";
  font-size: 1.5rem;
  width: 65%;
}
.account {
  padding: 5px 10px;
  color: #8FD26E; 
  background-color: #EFF7E6;
  border: 1px solid #8FD26E;
  border-radius: 20px;
}
.amount {
  padding: 5px 10px 5px 0;
  margin-right: 15px;
  border-right: 1px solid #F3F3F3;
}
.plan-code {
  composes: ellipsis from "css/common.css";
  width: 38%;
}
.op-name {
  composes: ellipsis from "css/common.css";
  max-width: 60px;
}
.record {
  padding: 5px 20px;
  color: #fff;
  background-color: #A0CFFF;
  border-radius: 20px;
}