.font-color-1 {
  color: #909399;
}
.font-color-2 {
  color: #E6A23C;
}
.font-size-1 {
  font-size: 1.4rem;
}
.manner {
  position: relative;
  margin-bottom: 1px;
  padding: 10px;
  background-color: #fff;
}
.middle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.bar {
  display: flex;
  justify-content: space-between;
  height: 40px;
  line-height: 40px;
  background-color: #fff;  
}