:global(.screen) {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #F0F0F0;
}
:global(.font-color-1) {
  color: #909399;
}
:global(.font-color-2) {
  color: #E6A23C;
}
:global(.font-color-3) {
  color: #F56C6C;
}
:global(.font-color-4) {
  color: #409EFF;
}
:global(.font-size-1) {
  font-size: 1.4rem;
}
:global(.bgcolor) {
  background-color: #fff;
}
:global(.mar-bot1) {
  margin-bottom: 1px;
}
:global(.mar-bot5) {
  margin-bottom: 5px;
}
:global(.mar-bot10) {
  margin-bottom: 10px;
}
:global(.center) {
  text-align: center;
}
:global(.padding5) {
  padding: 5px 10px;
}
:global(.padding10) {
  padding: 10px;
}
:global(.separate) {
  margin: 0 5px;
}
:global(.header-bar) {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  color: #fff;
  background-color: #409EFF;
}
:global(.bar) {
  margin-top: 40px;
  padding: 0 10px;
  height: 40px;
}
:global(.title) {
  font-size: 1.5rem;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
:global(.relative) {
  position: relative;
}
:global(.do) {
  position: absolute;
  top: 10px;
  right: 15px;
}
:global(.items-center) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
:global(.flex-start) {
  justify-content: flex-start;
}
:global(.items-start) {
  align-items: flex-start;
}