.header-bar {
  composes: items-center from "css/common.css";
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  color: #fff;
  background-color: #409EFF;
}